aside.app-sidebar {
  height: 100%;
  position: fixed;
  padding: 32px 24px;
  background: linear-gradient(329.54deg, #15b6d6 0%, #15d6d6 100%);

  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}

aside.app-sidebar img {
  width: 48px;
}

aside.app-sidebar footer a,
aside.app-sidebar footer button {
  width: 48px;
  height: 48px;

  border: none;

  background: #12afcb;
  border-radius: 16px;

  transition: background-color 0.2s;

  display: flex;
  align-items: center;
  justify-content: center;
}

aside.app-sidebar footer a:hover,
aside.app-sidebar footer button:hover {
  cursor: pointer;
  background-color: #17d6eb;
}
